@font-face {
  font-family: "DelaGothicOne";
  src:
    url("/fonts/DelaGothicOne/DelaGothicOne-Regular.woff2") format("woff2"),
    url("/fonts/DelaGothicOne/DelaGothicOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "a_GroticTitulOtlHv";
  src:
    url("/fonts/a_GroticTitulOtlHv/a_GroticTitulOtlHv.woff2") format("woff2"),
    url("/fonts/a_GroticTitulOtlHv/a_GroticTitulOtlHv.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
