@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scrollbar-gutter: stable;
}

body {
  min-width: 320px;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  background-color: #00100f;
  color: #bfbfbf;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: default;
}

body.lock {
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.main {
  display: block;
  flex: 1 1 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.a:before {
  content: "";
  position: absolute;
  width: 138px;
  height: 138px;
  border-radius: 50%;
  background: #0b8c86;
  -webkit-filter: blur(100px);
  filter: blur(100px);
  z-index: 0;
  right: 10%;
  bottom: 20%;
}

h1,
h2,
h3,
h4 {
  color: #ffffff;
  line-height: 1.4;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

.swiper-button-prev {
  left: 30px !important;
}

.swiper-button-next {
  right: 30px !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 48px;
  height: 48px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  border-radius: 50%;
  margin: auto 0;
  width: 100%;
  height: 100%;
  border: 1px solid #28b0a9;
  background-image: url("/images/Arrowactive.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 9px 14px;
  background-color: transparent;
  cursor: pointer;
}

.swiper-button-next:after {
  transform: rotate(180deg);
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0 8px !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
  background-color: #ffffff60 !important;
  opacity: 1;
  transition: background-color 0.3s;

  &.swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 0.76) !important;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.76) !important;
  }

  @media (min-width: 1536px) {
    width: 20px;
    height: 20px;
  }
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 20px !important;

  @media (min-width: 1536px) {
    bottom: 30px !important;
  }
}

.swiper-slide {
  box-sizing: border-box !important;
}

.swiper {
  padding: 0 0 90px;
}

.head_decor {
  color: #33B0AA;
}

.about_slide {
  position: relative;
  width: 100%;
  padding: 16px 24px;
  padding-right: 50px;
  border-radius: 16px;
  text-align: left;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(181, 181, 181, 0.1) 100%);
  
  &.about_slide--active::before {
    transform: rotate(180deg);
  }
  
  &::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 25px;
    transition: all 0.15s;
    width: 15px;
    height: 9px;
    background-image: url("/images/list__blue.webp");
    background-repeat: no-repeat;
  }

  &:hover {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(181, 181, 181, 0.15) 100%);
  }
}

.activeClasses {
  padding-top: 16px;
  height: auto 
}

.inactiveClasses {
  visibility: hidden;
  padding-top: 0;
  opacity: 0;
  height: 0;
}

.btn_review {
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
}

.play_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #33B0AA;
  z-index: 2;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
    border-radius: 50%;
    background-color: rgba(191, 191, 191, 0.278);
    z-index: -1;
    transition: all 0.4s;
  }
}

.btn_review:hover .play_icon::after {
  width: 180%;
  height: 180%;
  background-color: rgba(255, 255, 255, 0.300);
}

.team_list {

  & .swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.tabs_label {
  
  & span {
    background-color: rgb(42, 54, 53);
    padding: 10px 17px;
    border-radius: 12px;
    font-size: 20px;
    color: #ffffff;
    transition: background-color 0.3s;
    border: 1px solid transparent;

      &:hover {
        background-color: rgba(42, 54, 53, 0.5);
        /* border: 1px solid rgb(42, 54, 53); */
        cursor: pointer;
      }
  }

  & input:checked + span {
    background-color: rgba(42, 54, 53, 0.3);
    border: 1px solid rgb(42, 54, 53);

  }
}