@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scrollbar-gutter: stable;
}

body {
  min-width: 320px;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  background-color: #00100f;
  color: #bfbfbf;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: default;
}

body.lock {
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.main {
  display: block;
  flex: 1 1 auto;
}

.container {
  width: 84.75%;
  margin: 0 auto;
  padding: 0 15px;
}

.a:before {
  content: "";
  position: absolute;
  width: 138px;
  height: 138px;
  border-radius: 50%;
  background: #0b8c86;
  -webkit-filter: blur(100px);
  filter: blur(100px);
  z-index: 0;
  right: 10%;
  bottom: 20%;
}

h1,
h2,
h3,
h4 {
  color: #ffffff;
  line-height: 1.4;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

/* .b {
  height: calc(100vh - 115.34px);
} */

.swiper-button-prev {
  left: 30px !important;
}

.swiper-button-next {
  right: 30px !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 48px;
  height: 48px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  border-radius: 50%;
  margin: auto 0;
  width: 100%;
  height: 100%;
  border: 1px solid #28b0a9;
  background-image: url("/images/Arrowactive.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 9px 14px;
  background-color: transparent;
  cursor: pointer;
}

.swiper-button-next:after {
  transform: rotate(180deg);
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0 8px !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
  background-color: #ffffff60 !important;
  opacity: 1;
  transition: background-color 0.3s;

  &.swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 0.76) !important;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.76) !important;
  }

  @media (min-width: 1536px) {
    width: 20px;
    height: 20px;
  }
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 20px !important;

  @media (min-width: 1536px) {
    bottom: 30px !important;
  }
}

.swiper-slide {
  box-sizing: border-box !important;
}

.types_services {
  
  & .swiper {
  }
  
  & .swiper-wrapper {
   
  }
}